@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600&family=Playfair+Display:ital,wght@0,400;0,600;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cp: #FAF4E6;
  --cs: #A69A7B;
  --ct: #261612;
  --ca: #5F3621;
  --cad: #38331C;
  --cdark: #1a0f0a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--cp);
  color: var(--ct);
}

html {
  scroll-behavior: smooth;
}